body {
  background-color: lightblue;
}

/* Legg til resten av CSS-reglene her */
.home {
  padding: 20px;
}

.search-section {
  margin-bottom: 20px;
}

.groups-section {
  margin-top: 40px;
  text-align: center;
}

.groups-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

.group-item {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s;
}

.group-item:hover {
  transform: translateY(-5px);
}

.group-image {
  max-width: 100px;
  margin-top: 10px;
}

.group-title {
  display: block;
  padding: 10px;
  font-size: 16px;
  color: #333;
}
