body {
  background-color: #fff !important;
}

.home {
  padding: 20px;
}

.search-section {
  margin-bottom: 20px;
}

.groups-section {
  margin-top: 40px;
  text-align: center;
}

.media-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  background: fffaf0;
}

.media-item {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s;
  width: 200px;
}

.media-item:hover {
  transform: translateY(-5px);
  background-color: rgb(65, 118, 171);
  color: white;
}

.media-item-link {
  text-decoration: none;
  color: black;
}

.media-item-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.media-item-img:hover {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.media-item-info {
  padding: 10px;
  color: black;
}

.media-item-info:hover {
  color: white;
}

.media-item-title {
  display: block;
  font-size: 16px;
  color: black;
}

.media-item.media-item-title:hover {
  display: block;
  font-size: 16px;
  color: white;
}

.media-item-link:hover {
  color: white;
}
